NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=YOUR_WALLETCONNECT_PROJECT_ID
NEXT_PUBLIC_MANTLE_SEPOLIA_RPC_URL=https://rpc.sepolia.mantle.xyz
NEXT_PUBLIC_MANTLE_SEPOLIA_EXPLORER_URL=https://sepolia.mantlescan.xyz
NEXT_PUBLIC_M2_MOCK_USDC_ADDRESS=
NEXT_PUBLIC_M2_AGENT_REGISTRY_ADDRESS=
NEXT_PUBLIC_M2_REPUTATION_REGISTRY_ADDRESS=
NEXT_PUBLIC_M2_VALIDATION_REGISTRY_ADDRESS=
NEXT_PUBLIC_M2_TREASURY_VAULT_ADDRESS=
NEXT_PUBLIC_M2_ARENA_ADDRESS=
NEXT_PUBLIC_M2_DEPLOYER_ADDRESS=